.about {
    background-image: url('/public/about.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.about_heading {
    color: var(--Primary-Color, #2947A9);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    justify-content: center;
    display: flex;
}

.about_left h1 {
    color: #FFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about_left p {
    color: #FFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2em;
}

.about_right img {
    width: 500px;
}

/* .about_left_heding {
    padding-left: 32px;
    padding-right: 117px;
    padding-top: 48px;
    padding-bottom: 48px;
} */

.about_right {
    display: flex;
    justify-content: center;
    align-items: center;

}


.single_conatant1 h1 {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.single_conatant1 p {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 28px;
    max-width: 355px;
}


.customer_heading h1 {
    color: var(--Primary-Color, #2947A9);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 500px;
    margin-bottom: 32px;
}

.customer_heading {
    margin: auto;
    max-width: 1240px;
    padding-top: 2em;
    padding-bottom: 2em;
}


.single_img {
    background-image: url('/public/customer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.single_conatnt {
    border-radius: 10px;
    background: #FFF;
    padding-top: 81px;
    padding-left: 43px;
    padding-right: 42px;
    padding-bottom: 82px;
}

.single_conatnt h1 {
    color: #000;
    font-family: Montserrat;
    /* font-size: 24px; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.single_conatnt p {
    color: var(--Primary-Color, #2947A9);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 38px;
    margin-bottom: 38px;
}

.single_conatnt h3 {
    color: var(--Primary-Color, #2947A9);
    font-family: Poppins;
    font-size: 7.333px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media(max-width:768px){
    .single_conatant1 h1 {
        font-size: 19px !important;
       
    }
    
}

@media(max-width:820px){
    .single_conatant1 h1 {
        font-size: 20px !important;
       
    } 
}

@media(max-width:1024px){
    .customer_heading {
        padding: 2em;
    }
}

@media(max-width:550px){
    .customer_wrapper{
        flex-direction: column;
    }
    .customer_heading h1{
        font-size: 17px;
    }
}