.hero{
    background-image: url('/public/home.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}


.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1em;
}
  
  .sec_padding {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .roofing.sec_padding {
    border-top: 1px solid #00000063;
    margin-top: 3em;
}
.roofing_left {
  width: 100%;
  margin-top: -2em;
}

  .roofing_right{
    width: 100%;
    border-radius: 10px;

  }

  .roofing_wrapper {
    display: flex;
    gap: 23px;
}

.roofing_left h1{
color: var(--Primary-Color, #2947A9);
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.roofing_left p {
  color: var(--Primary-Text, #211F1E);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 1em;
}

.second_head p{
  /* margin-top: 1.5em;
  margin-bottom: 1em; */
  font-size: 18px;
}
.second_head h1 {
  margin-top: 2em;
  font-size: 24px;
}
.second_head span{
  color: var(--Red, #FF5733);
 font-family: Montserrat;
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
}

.hero_left {
  width: 100%;
  margin-top: 6em;
}

.hero_right {
  width: 100%;
  background: white;
  padding: 2.5em;
  border-radius: 20px;
  box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.25), 1px 1px 4px 0px rgba(0, 0, 0, 0.25);

}


.hero_left h1{
font-family: Montserrat;
font-size: 64px;
font-weight: 700;
line-height: 78.02px;
color: #000000;

}

.hero_left h1 span {
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 700;
  line-height: 78.02px;
  color: #FF5733;
  text-align: center;
}

.hero_left p{
font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 29.26px;
text-align: left;
color: #000000;

}





.form_container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.form_container h2 {
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.from input,
.from textarea {
  margin-bottom: 10px;
  padding: 16px 18px;
  border: 1px solid #2947A9;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  margin-top: 1em;
}
.inputfiled{
  gap: 28px;
}
.herobtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.hero_btn {
  background-color: #2947A9;
  color: white;
  border: none;
  padding: 21px 87px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 2em;
}

.hero_btn {
  background-color: #0056b3;
} 




.from_conatiner h2{
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: center;
  color: #2947A9;
  margin-bottom: 1em;
}



.input_label{
  display: flex;
  flex-direction: column;
}

.input_label label{
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
color: #2947A9;

}

.serviceIcon {
  display: flex;
  gap: 1em;
}


.Description h1{
font-family: Montserrat;
font-size: 32px;
font-weight: 500;
line-height: 39.01px;
text-align: left;

}

.service_heading h1{
color: var(--Primary-Color, #2947A9);
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 2em;
}

.Description p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.38px;
  text-align: left;
  max-width: 367px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.serviceIcon h1{
font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 24.38px;
text-align: left;

}




  .right {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_icon {
  font-size: 38px;
  display: none;
}

@media(max-width:360px){
  .list_item{
    display: none;
  }
   .flex_container{
    width: 100%;
    padding: 14px 30px;
   }
  .hero_wrapper{
    flex-direction: column-reverse;
  }
  .footer-title{
    font-size: 15px;
    text-align: center;
  }
  .roofing_wrapper{
    flex-direction: column;
  }
  .service_wrapper{
    display: block;
  }
  .singleServices{
    margin-bottom: 3em;
  }
  .footer-content {
  flex-direction: column;
}
.Roofer .container{
  padding-left: 32px;
  padding-right: 32px;
}
.footer-column{
  margin-top: 4em;
}
.about .container{
  padding-left: 32px;
  padding-right: 32px;
}
.footer-contact{
  padding-left: 24px;
  padding-right: 24px;
}
.footer-services{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.footer_li_icon svg {
  width: 50px !important;
}
.footer-services li{
  width: 160px;
}
.footer-description{
  text-align: center;
}
.footer_li_icon svg{
  margin-left: 1em;
}
.footer23{
  margin-left: 0em;
  font-size: 14px;
  width: 52px;
}
.footer-top svg{
  display: none;
}
.footer-top{
  background-color: snow;
}
.topbar{
  display: none;
}
.hero_left h1 {
  font-size: 45px !important;
}
.hero_left h1 span{
  font-size: 31px !important;
}
.footer-top-contact{
  display: none;
}
.mobile_icon{
  display: block;
}

}



@media(max-width:768px){
  .list_item {
    gap: 1em;
  }
  .flex_container {
  padding: 32px;
   
}
.list_item{
  display: none;
}
.mobile_icon {
  display: block;
}
.logo svg{
  width: 156px !important;
}
.single_conatnt {
  padding-top: 34px;
  padding-left: 31px;
  padding-right: 10px;
  padding-bottom: 28px;
}
.roofing_wrapper{
  flex-direction: column;
}
.roofing_right{
  margin-top: 2em;
}
.hero .container{
  padding-left: 32px;
  padding-right: 32px;
}
.services .container{
  padding-left: 32px;
  padding-right: 32px;
}
.roofing .container{
  padding-left: 32px;
  padding-right: 32px;
}
.single_conatnt p{
  font-size: 15px;
}
.footer-top{
  display: none;
}
.hero_wrapper{
  flex-direction: column;
}
.hero_left p{
  margin-bottom: 1em;
}
}


@media(max-width:991px){
  .list_item {
    gap: 1em;
  }
  .flex_container {
  padding: 32px;
   
}
.single_conatnt p{
  font-size: 15px;
}
.single_conatnt h1{
  font-size: 20px;
}
.customer_heading h1{
  padding: 1em;
}
.footer-top {
 padding: 10px;

}
.footer-top-contact{
  font-size: 21px;
}
.footer-top-text{
  font-size: 16px;
}
}


@media(max-width:1024px){
  .contact_btn{
    padding: 13px 12px;
  }
  .hero_wrapper{
    flex-direction: column;
  }
  .hero .container{
    padding-left: 32px;
    padding-right: 32px;
  }
  .roofing_wrapper{
    flex-direction: column;
  }
  .roofing .container{
    padding-left: 32px;
    padding-right: 32px;
  }
  .services .container{
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-top {
    padding: 10px;
   
   }
   .px-28 {
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 2rem;
    padding-right: 2rem;
}
}