.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    /* background: #ffff; */
}

.list_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


.contact_btn {
    background: #FF5733;
    padding: 13px 25px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #ffff;
    transition: all 0.5s ease-in-out;
}

.list_item li a{
color: var(--Primary-Text, #211F1E);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal
}